

*{
padding:0px;
}
h1{

border-style:dotted;
border-width:10px;
border-color:red;
padding:10px;
}

p{
border-style:solid;
border-width:5px;
border-color:green;
padding:10px;
border-radius:20px;
}

h2{
border-top-style:dotted;
border-left-style:dashed;
border-bottom-style:double;
border-right-style:solid;
padding:10px;


}

div{
padding:25px;
border:2px blue solid;
}
